.detail_container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    position: relative;
}


#box{
    width: 20px;
    height: 20px;
    border: 2px solid;
    background-color: blue;
}
.left_detail_container{
    width: 28rem;
    height: 100%;
    position: relative;
}
.left_image_div{
    width: 100%;
    height: 27rem;
   overflow-x: hidden;
}
.left_image_div::-webkit-scrollbar{
    display: none;
}
.left_image_div img{
    width: 200%;
}
.left_detail_button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 1rem;
  
}
.left_detail_container button{
   border: none;
    width: 45%;
    height: 50px;
    color: white;
    background-color: orange;
    font-size: 1rem;
    cursor: pointer;
}
.left_detail_container img{
    width: 100%;
    height: 100%;
}
.left_large_image{
    width: 100%;
    height: 100%;
    position: relative;
}
.left_large_image_hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
}


.right_detail_container{
    width: 60%;
    height: 100%;
    line-height: 1rem;
   
}
/* ....................... */
#heading{
    font-size: 1.2rem;
    font-weight: 500;
  
}
#specialprice{
    color: green;
    font-weight: 500;
    
}
.right_price_div{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    margin-top: -1rem;
}
.rating_div{
    display: flex;
    justify-content: center;
    width: 50px;
   height: 30px;
   border-radius: 10px;
    align-items: center;
    color: white;
    background-color: green;
    margin-right: 1rem;
   
}
.right_detail_rating{
    display: flex;
align-items: center;
}
.right_detail_rating img{
    width: 10%;
    margin-left: 1rem;
}
.avilable_offer img{
    width: 2.5%;
    margin-right: 0.5rem;
}
.avilable_offer{
align-items: center;
}
.supercoin_div{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
}
.supercoin_div img{
    width:40%;
}